$filterWhite: brightness(0) saturate(100%) invert(98%) sepia(0%) saturate(0%)
  hue-rotate(338deg) brightness(101%) contrast(104%);

.poster-container {
  flex: 0 0 calc(100% / var(--imgs-per-screen));
  max-width: calc(100% / var(--imgs-per-screen));
  position: relative;
  padding: 0.3rem;
  cursor: pointer;
}

.poster-img {
  width: 100%;
  height: 100%;
  user-select: none;
}

.poster-card-img {
  @extend .poster-img;
  position: absolute;
  bottom: 25px;
}

.poster-card {
  position: absolute;
  z-index: 1;
  opacity: 0;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: #000 0px 5px 15px;
  width: 100%;
  height: 100%;
  // display: none;
  transition: all 0.4s ease;
}

.poster-card.active {
  // display: block;
  opacity: 1;
  transform: scale(1.5) translate(15%, -15%);
  z-index: 2;
}

.poster-card-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  background: #141414;
  width: 100%;
  height: 30%;
}

.pc-icons {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 10px 10px;
}

.pc-icons-main {
  display: flex;
  align-items: center;
  gap: 6px;
}

.pc-icon-play {
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pc-icon-play:hover {
  background: rgba(255, 255, 255, 0.8);
}

.pc-icon-play-img {
  width: 17px;
  padding-left: 2px;
}

.pc-icon-default {
  width: 25px;
  height: 25px;
  background: transparent;
  border: 1px solid #808080;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pc-icon-default:hover {
  border: 1px solid #fff;
}

.pc-icon-default-img {
  width: 15px;
  filter: $filterWhite;
}

.pc-thumb {
  padding-bottom: 2px;
}

.pc-cross {
  transform: rotate(45deg);
}
