.users {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users-title {
  color: #ffffff;
}

.users-list {
  display: flex;
}

.users-admin {
  margin-top: 40px;
  border-radius: 0;
  padding: 5px 15px;
  background: transparent;
  border: 1px solid #808080;
  color: #808080;
  cursor: pointer;
}

.users-admin:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
}
