:root {
  --slider-padding: 5rem;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider {
  --slider-index: 0;
  display: flex;
  width: 90%;
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 0.4s ease-in-out;
}

.slider > .poster {
  flex: 0 0 16.6%;
  padding: 0.5rem;
  max-width: 16.6%;
  user-select: none;
}

.handle {
  width: var(--slider-padding);
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 80px;
  z-index: 1;
  margin: 0.5rem 0;
  cursor: pointer;
}

.handle:hover {
  .handle-symbol {
    transform: scale(1.2);
  }
}

.handle-symbol {
  opacity: 0;
  user-select: none;
  transition: transform 0.3s ease-in-out;
}

.container:hover .handle-symbol {
  opacity: 1;
}
