.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: space-between;
  background: transparent;
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.navbar-logo-img {
  width: 125px;
  cursor: pointer;
}

.navbar-list {
  display: flex;
}

.navbar-list-item {
  list-style: none;
  cursor: pointer;
  margin-left: 18px;
  color: #e5e5e3;
  transition: all 0.3s ease-in-out;
}

.navbar-list-item:hover {
  color: #e5e5e380;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 70px;
}

.navbar-icon-search,
.navbar-icon-notif,
.navbar-icon-arrow {
  filter: brightness(0) saturate(100%) invert(98%) sepia(0%) saturate(0%)
    hue-rotate(338deg) brightness(101%) contrast(104%);
  cursor: pointer;
}

.navbar-icon-search {
  width: 20px;
}

.navbar-children {
  cursor: pointer;
}

.navbar-icon-notif {
  width: 20px;
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navbar-profile:hover {
  .navbar-icon-arrow {
    transform: rotate(180deg);
  }
}

.navbar-profile-img {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  overflow: hidden;
}

.navbar-icon-arrow {
  width: 10px;
  transition: transform 0.3s ease-in-out;
}
